.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background-color: #f6fbf5;
  height: 300px;
  overflow: hidden;
}

.header-content {
  max-width: 50%;
}

.header-title {
  font-size: 4rem;
  color: #a30000; /* Deep red color from image */
  font-family: serif; /* Matches the formal font style */
  margin-bottom: 10px;
  font-weight: 900; /* Makes the font thick */
  text-shadow: 1.2px 0 0 #a30000
}

.header-subtitle {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 30px;
  margin-left: 4px;
}

.header-buttons {
  display: flex;
  gap: 15px;
}

/* Button Styling */
.btn2 {
  padding: 10px 30px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 14px;
  font-size: 1rem;
}

.btn1-red {
  background-color: #a30000;
  color: white;
}

.btn1-outline {
  border: 2px solid #000000;
  color: #000;
}

.header-image img {
  max-width: 750px;
  margin-right: -50px;
  margin-top: 380px;
  object-fit: contain;
}